*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    @include fontSize($baseFontSize);
    @include fontWeight($fwRegular);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

p {
    padding: unset;
    margin: unset;
}
a, button {
    font-family: $sans;
}
input[type=text], input[type=email] {
    padding: calculateRem(8px);
    border-radius: calculateRem(5px);
    outline: none;
    width: 100%;
    font-family: $sans;
    @include fontSize(24px);
}
#app {
    font-family: $sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

.site-wrapper {
    overflow: hidden;
    margin-top: $sitePadding * 2;
    @include small-only {
        padding: 0 calculateRem(20px);
    }
    @include small {
        max-width: calculateRem($small-width - $sitePadding * 2);
    }
    @include medium {
        max-width: calculateRem($medium-width - $sitePadding * 2);
    }
    @include large {
        max-width: calculateRem($large-width - $sitePadding * 2);
    }
    @include x-large {
        max-width: calculateRem($xl-width - $sitePadding * 2);
    }
    margin-left: auto;
    margin-right: auto;
}

.icon {
    padding: $sitePadding/4;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    background-color: lighten(rebeccapurple, 40%);
    transform: scaleX(1);
    transition: transform .25s ease-in-out;
    &:hover {
        background-color: lighten(rebeccapurple, 20%);
        color: white;
        transition: all .5s ease-out;
        cursor: pointer;
    }
}

.btn {
    @extend .icon;
    padding: $sitePadding/4 $sitePadding;
}