@function strip-unit($number) {
    @if type-of($number)=='number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

@function calculateRem($size) {
    $remSize: strip-unit($size) / strip-unit($baseFontSize);
    @return #{$remSize}rem;
}

@mixin fontSize($size) {
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
}

@mixin fontWeight($size) {
    font-weight: $size;
}

//Media Queries
@mixin small-only {
    @media all and (max-width: #{$small-width} - 1) {
        @content;
    }
}

@mixin small {
    @media all and (min-width: #{$small-width}) {
        @content;
    }
}

@mixin medium {
    @media all and (min-width: #{$medium-width}) {
        @content;
    }
}

@mixin large {
    @media all and (min-width: #{$large-width}) {
        @content;
    }
}

@mixin x-large {
    @media all and (min-width: #{$xl-width}) {
        @content;
    }
}