//Typography
$sans: 'Barlow',sans-serif;

//Font Weights
$fwThin: 100;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwBold: 700;
$fwBolder: 900;

//Font Sizes
$baseFontSize: 16px;
$baseFontSizeMobile: 14px;

//Site Variables
$sitePadding: 20px;

//Media Query Values
$small-width: 576px;
$medium-width: 768px;
$large-width: 992px;
$xl-width: 1440px;