<template>
    <div id="albums" class="site-wrapper albums-wrapper">
        <div class="listing-actions">
          
          <h2 v-if="currentAlbum >= 0">Album: {{currentAlbum + 1}}</h2>
          <h2 v-if="currentAlbum < 0">Choose Album from list</h2>
          <i v-if="currentAlbum >= 0" class="material-icons icon sort-icon" :class="{'desc' : sortDirection != 'asc'}" @click="sortAlbum(albums[currentAlbum].thumbnails)">sort_by_alpha</i>
        </div>
        <div class="albums">
            <div class="album-listings">
                <div class="album-listing" @click="changeAlbum(album)" :class="{active: index === currentAlbum}" v-for="(album, index) in albums" :key="album.albumId">
                    <div class="title">Album {{album.albumId}}</div>
                    <div class="album-count">{{album.images.length}}</div>
                </div>
            </div>
            <div class="modal site-wrapper" v-if="currentAlbum >= 0">
              <div class="album-images" v-for="(album, index) in albums" :key="album.albumId" v-if="index === currentAlbum">
                  
                  <div class="thumbnail" v-for="thumb in album.thumbnails" :key="thumb.id">
                      <img :src="thumb.thumbLink" alt="thumbnail">
                      <div class="title">{{thumb.thumbTitle}}</div>
                  </div>
                  
              </div>
            </div>
        </div>
    </div>
</template>
<script>
import Vue from "vue";
import VueResouce from "vue-resource";

Vue.use(VueResouce);

export default {
  name: "albums",
  mounted() {
    this.getAlbums();
  },
  data() {
    return {
      albums: {},
      thumbnailsArray: {},
      currentAlbum: -1,
      sortDirection: "asc"
    };
  },
  methods: {
    getAlbums() {
      this.$http.get(`${this.$baseApiUrl.link}photos`).then(response => {
        this.albums = response.body;
        let myArray = this.albums;
        const initialValue = [];
        const reducer = (tally, currentValue) => {
          if (tally.indexOf(currentValue.albumId) === -1) {
            tally.push(currentValue.albumId);
          }
          return tally;
        };
        let res = myArray.reduce(reducer, initialValue).map(albumId => {
          return {
            albumId: albumId,
            sortDirection: "",
            thumbnails: myArray
              .filter(_el => _el.albumId === albumId)
              .map(_el => {
                return {
                  thumbLink: _el.thumbnailUrl,
                  thumbTitle: _el.title
                };
              }),
            images: myArray
              .filter(_el => _el.albumId === albumId)
              .map(_el => _el.url)
          };
        });
        this.albums = res;
        this.thumbnailsArray = res.map(item => item.thumbnails);
      });
    },
    sortAlbum(album) {
      this.sortDirection = this.albums[this.currentAlbum].sortDirection;
      let albumSortDir = this.sortDirection;

      if (albumSortDir === "") {
        this.sortDirection = "asc";
      }

      album.sort((currentItem, nextItem) => {
        let a = currentItem.thumbTitle.toLowerCase();
        let b = nextItem.thumbTitle.toLowerCase();

        if (this.sortDirection === "asc") {
          return a === b ? 0 : a > b ? 1 : -1;
        } else {
          return a === b ? 0 : a > b ? -1 : 1;
        }
      });

      this.albums[this.currentAlbum].sortDirection =
        this.sortDirection === "asc" ? "desc" : "asc";
      return album;
    },
    changeAlbum(album) {
      this.currentAlbum = album.albumId - 1;
      window.scrollTo(0,0);
    }
  }
};
</script>
<style src="./Albums.scss" lang="scss" scoped></style>