@import "../styles/variables";
@import "../styles/mixins";

.listing-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $sitePadding;
    .sort-icon {
        @include fontSize(36px);
        &.desc {
            transform: scaleX(-1);
            transition: transform .25s ease-in-out;
        }
    }
}

.albums {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .album-listings {
        flex: 0 0 auto;
    }
    .album-listing {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $sitePadding/2;
        background-color: white;
        border-bottom: 1px solid rebeccapurple;
        &.active {
            background-color: rebeccapurple;
            color: white;
            .album-count {
                background-color: white;
                color: rebeccapurple
            }
        }
        &:hover {
            cursor: pointer;
            background-color: #eee;
        }
        &:last-of-type {
            border-bottom: unset;
        }
        .title,
        .album-count {
            pointer-events: none;
        }
        .album-count {
            margin-left: 10px;
            background-color: rebeccapurple;
            color: white;
            border-radius: 50%;
            padding: $sitePadding/4 $sitePadding/2;
            @include fontWeight($fwRegular);
        }
    }
    .album-images {
        flex: 0 1 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .thumbnail {
        margin-bottom: $sitePadding/2;
        flex: 0;
    }
}

.modal {
    position: relative;
    background-color: white;
    padding: calculateRem($sitePadding/2);
    border: 4px solid rebeccapurple;
    margin-top: 0;
}