<template>
    <div id="dashboard">
      <header-component></header-component>
      <router-view></router-view>
    </div>
</template>
<script>
import HeaderComponent from "../components/Header";
export default {
  name: "dashboard",
  components: {
    HeaderComponent
  }
};
</script>