<template>
    
</template>
<script>
  import Vue from 'vue';
  import VueResource from 'vue-resource'

  Vue.use(VueResource);

  export default {
    name: 'dashboard-home',
    data() {
      return {
        
      }
    }
  }
</script>