@import "../styles/variables";
@import "../styles/mixins";

.login-form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100vw - #{$sitePadding *2});
    transform: translate(-50%,-50%);

    @include small {
        width: $small-width;
    }
    .logo {
        background-image: url('/static/assets/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: calculateRem(250px);
        width: 100%;
    }
    .login-form {
        display: flex;
        flex-direction: column;
        
        @include small {
            flex-direction: row;
            margin-top: $sitePadding;
        }
        .email {
            @include small {
                flex-grow: 1;
            }
            input {
                width: 100%;
            }
        }
        .btn-login {
            margin-top: $sitePadding/2;
            @include small {
                margin-top: 0;
                margin-left: $sitePadding;
            }
            @include fontSize(18px);
            text-transform: uppercase;
        }
    }
    .error-message {
        color: red;
        margin-top: $sitePadding;
    }
}