<template>
    <div id="login" class="site-wrapper login-wrapper">
        <div class="login-form-wrapper">
            <div class="logo"></div>
            <form class="login-form">
                <div class="email">
                    <input type="email" class="login" v-model="emailAddress">
                </div>
                <button type="button" class="btn btn-login" @click="loginEvent">Login</button>
            </form>
            <div class="error-message" v-if="!isValidUser">
                The email you entered does not seem to be registered, please try again
            </div>
        </div>
    </div>
</template>

<script>
  import Vue from "vue";
  import VueResource from "vue-resource";

  //import persistentState from "vue-persistent-state";

  //let initialState = {
  //  user: {
  //    name: "",
  //    email: ""
  //  }
  //};
  //Vue.use(persistentState, initialState);
  Vue.use(VueResource);

  export default {
    name: "Login",
    mounted() {
      localStorage.clear();
      this.getUsers();
    },
    data() {
      return {
        users: [],
        currentUser: {},
        emailAddress: "",
        isValidUser: true
      };
    },
    methods: {
      getUsers() {
        this.$http.get("https://jsonplaceholder.typicode.com/users").then(res => {
          this.users = res.body;
        });
      },
      loginEvent() {
        this.currentUser = this.users.filter(
          user => user.email.toLowerCase() === this.emailAddress.toLowerCase()
        );
        localStorage.setItem("user", JSON.stringify(this.currentUser[0]));

        if (this.currentUser[0] != undefined) {
          let userEmail = this.currentUser[0].email.toLowerCase();
          let inputedEmail = this.emailAddress.toLowerCase();
          if (userEmail.match(inputedEmail)) {
            this.isValidUser = true;
            this.$router.push("Dashboard");
          }
        } else {
          this.isValidUser = false;
        }
      }
    }
  };
</script>

<style src="./Login.scss" lang="scss" scoped></style>
