@import "../styles/variables";
@import "../styles/mixins";
.posts-wrapper {
    .listing-actions {
        .search-icon {
            margin-left: $sitePadding / 2;
        }
    }
    .posts {
        margin-top: $sitePadding * 2;
        .post {
            pointer-events: unset;
            margin-bottom: calculateRem(10px);
            .title span {
                pointer-events: none;
            }
        }
        .title {
            display: flex;
            justify-content: space-between;
            padding: $sitePadding/2;
            background-color: rebeccapurple;
            color: white;
            text-transform: uppercase;
        }
        .body {
            padding: 0;
            border: 0;
            max-height: 0;
            overflow: hidden;
            &.open {
                padding: $sitePadding;
                border: 1px solid lighten(rebeccapurple, 50%);
                max-height: 300px;
            }
        }
    }
}