<template>
    <div id="posts" class="site-wrapper posts-wrapper">
      <div class="listing-actions">
          <input type="text" class="search-field" placeholder="Search Posts" v-model="searchInputText">
      </div>
      <div class="posts">
        <div class="post" v-if="post.matchedSearch" v-for="(post, index) in filteredPosts" :key="post.id" >
          <div class="title" @click.self="togglePosts(index)">
            <span>{{post.title}}</span>
            <span class="comment-count">Comments: {{post.commentLength}}</span>
          </div>
            <p class="body" :class="{'open': post.showPost}">{{post.body}}</p>
        </div>
      </div>
    </div>
</template>
<script>
import Vue from "vue";
import VueResouce from "vue-resource";

Vue.use(VueResouce);

export default {
  name: "posts",
  mounted() {
    this.getPosts();
  },
  data() {
    return {
      posts: [],
      comments: {},
      showPost: false,
      searchInputText: ""
    };
  },
  methods: {
    getPosts() {
      this.$http.get(`${this.$baseApiUrl.link}posts/`).then(response => {
        this.posts = response.body;
        let postsArray = this.posts;

        postsArray.map(post => {
          this.$set(post, "matchedSearch", true);
        });

        this.posts = postsArray;
        this.getPostComments();
      });
    },
    getPostComments() {
      this.$http.get(`${this.$baseApiUrl.link}comments/`).then(response => {
        this.comments = response.body.slice(0, 100);
        this.newPosts();
      });
    },
    newPosts() {
      let postsArray = this.posts;
      let commentsArray = this.comments;
      let res = postsArray.map(x =>
        Object.assign(
          x,
          commentsArray.find(y => {
            if (y.postId == x.id) {
              x.comments = this.$set(
                x,
                "comments",
                commentsArray.filter(e => e.postId === x.id)
              );
              x.commentLength = this.$set(
                x.comments,
                "length",
                x.comments.length
              );
              x.showPost = this.$set(x, "showPost", false);
            }
          })
        )
      );
      return (this.posts = res);
    },
    togglePosts(ind) {
      let pa = this.posts;
      let postArrayLength = this.posts.length;
      if (this.posts[ind].showPost) {
        for (let i = 0; i < postArrayLength; i++) {
          this.$set(this.posts[i], "showPost", false);
        }
      } else {
        for (let i = 0; i < postArrayLength; i++) {
          this.$set(this.posts[i], "showPost", false);
        }
        this.$set(this.posts[ind], "showPost", true);
      }
    }
  },
  computed: {
    filteredPosts() {
      return this.posts.filter(post => {
        if (post.title.match(this.searchInputText) || post.body.match(this.searchInputText)) {
          return true;
        } else {
          return false;
        }
      });
    }
  }
};
</script>
<style src="./Posts.scss" lang="scss"></style>