@import "../styles/variables";
@import "../styles/mixins";
.todos-wrapper {
    .listing-actions {
        display: flex;
        
        
        flex-direction: column;
        @include medium {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
        }
        .toggle {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: $sitePadding/2;
            @include medium {
                margin-bottom: 0;
            }
            .title {
                @include fontSize(14px);
            }
            .vue-js-switch {
                margin-left: $sitePadding/2;
            }
        }
    }
    .todos {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .todo {
        flex: 0 0 100%;
        position: relative;
        padding: $sitePadding;
        margin: 0 0 $sitePadding/4 0;
        background-color: white;
        border: 2px solid rebeccapurple;

        @include small {
            flex: 0 0 calc(25% - 5px);
        }

        &:hover {
            background-color: lighten(rebeccapurple, 30%);
        }
        &.checked {
            background-color: lighten(rebeccapurple, 50%);
        }
        .title {
            pointer-events: none;
        }
        .checkmark-icon {
            position: absolute;
            top: $sitePadding/4;
            right: $sitePadding/4;
            color: green;
            align-self: flex-start;
        }
    }
}