<template>
    <div id="todos" class="site-wrapper todos-wrapper">
        <div class="listing-actions">
            <h2>Todos for {{this.user.name}} of {{this.user.company}}</h2>
            <div class="toggle">
                <div class="title">Display Completed</div>
                <toggle-button color="rebeccapurple" :width="50" :height="24" :sync="true"
                               @change="displayChecked = !displayChecked"/>
            </div>
        </div>
        <div class="todos">
            <label v-if="!displayChecked" class="todo" :class="{'checked': todo.completed}"
                   :for="`checkbox-${todo.id}`" v-for="(todo, index) in filteredTodos" :key="todo.id"
                   @click.self="checkedState(index)">
                <span class="title">{{todo.title}}</span>
                <i class="material-icons checkmark-icon" v-if="todo.completed">check_circle</i>
            </label>
            <label v-if="displayChecked" class="todo" :class="{'checked': todo.completed}"
                   :for="`checkbox-${todo.id}`" v-for="(todo, index) in filterTest" :key="todo.id"
                   @click.self="checkedState(index)">
                <span class="title">{{todo.title}}</span>
                <i class="material-icons checkmark-icon" v-if="todo.completed">check_circle</i>
            </label>
        </div>
        <div>Test</div>
    </div>
</template>
<script>
  import Vue from "vue";
  import VueResource from "vue-resource";
  import ToggleButton from "vue-js-toggle-button";

  Vue.use(VueResource);
  Vue.use(ToggleButton);

  export default {
    name: "todos",
    mounted() {
      this.getTodos();
    },
    data() {
      return {
        user: {
          id: JSON.parse(localStorage.getItem("user")).id,
          name: JSON.parse(localStorage.getItem("user")).name,
          company: JSON.parse(localStorage.getItem("user")).company.name
        },
        todos: [],
        displayChecked: false
      };
    },
    methods: {
      getTodos() {
        this.$http.get(`${this.$baseApiUrl.link}todos/`).then(response => {
          this.todos = response.body;
        });
      },
      checkedState(ind) {
        this.todos[ind].completed = !this.todos[ind].completed;
      }
    },
    computed: {
      filteredTodos() {
        return this.todos.filter(todo => {
          return (todo.userId = this.user.id);
        });
      },
      filterTest() {
        return this.todos.filter(todo => {
          return todo.userId = this.user.id;
        }).filter(res => res.completed === true);
      }
    }
  };
</script>
<style src="./Todos.scss" lang="scss"></style>