@import '../styles/variables';
@import '../styles/mixins';
header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    @include small {
        flex-direction: row;
        justify-content: space-between;
    }
    padding: $sitePadding/2;
    background-color: lightgray;
    a {
        @include fontSize($baseFontSizeMobile);
        padding: $sitePadding/4 $sitePadding/.75;
        @include small {
            @include fontSize($baseFontSize);
            padding: $sitePadding/2 $sitePadding/.75;
        }
        display: block;
        text-decoration: none;
        border-radius: 5px;
        color: white;
    }
    nav {
        @include small-only {
            margin-top: $sitePadding;
        }
        ul {
            list-style: none;
            display: flex;
            li {
                margin-right: $sitePadding/2;
                a {
                    background-color: slategrey;
                }
            }
        }
    }
    .user-info {
        display: flex;
        align-items: center;
        @include fontSize($baseFontSizeMobile);
        @include small {
            @include fontSize($baseFontSize);
        }
        .btn-logout {
            margin-left: $sitePadding/2;
            background-color: green;
            &:hover {
                background-color: darken(green, 10%);
                transition: background-color .5s;
            }
        }
    }
}