<template>
    <div id="header-component">
      <header>
          <nav>
              <ul>
                  <li v-for="menuItem in menuItems" :key="menuItem.id">
                      <router-link :to="menuItem.linkUrl">{{menuItem.linkName}}</router-link>
                  </li>
              </ul>
          </nav>
          <div class="user-info">
              <div class="name">{{user.name}} | {{user.company}}</div>
              <router-link :to="{name: 'Home'}" class="btn btn-logout">Logout</router-link>
          </div>
          
      </header>
    </div>
</template>
<script>
export default {
  name: "header-component",
  data() {
    return {
      user: {
        name: JSON.parse(localStorage.getItem("user")).name,
        company: JSON.parse(localStorage.getItem("user")).company.name
      },
      menuItems: [
        {
          linkName: "Posts",
          linkUrl: { name: "Posts" }
        },
        {
          linkName: "Albums",
          linkUrl: { name: "Albums" }
        },
        {
          linkName: "To Dos",
          linkUrl: { name: "Todos" }
        }
      ]
    };
  }
};
</script>
<style src="./Header.scss" lang="scss" scoped></style>